#logotipo a {animation: colorAnimate 10s;}/*linear infinite*/
header #subheader nav ul li a {animation: colorAnimate 10s;}/*linear infinite*/

 @keyframes colorAnimate
 {
     0%
     {
         color: #c30000;
     }
     25%
     {
         color: #1c547d;
     }
     50%
     {
         color: #c00a504;
     }
     75%
     {
         color: #ce7b900;
     }
     100%
     {
         color: #c30000;
     }
 }

#logotipo,#slideshow,#bienvenidos {
  
  
  
  position: relative;
  -webkit-animation-name: logo;
  -moz-animation-name: logo;
  -o-animation-name: logo;
  -ms-animation-name: logo;
  animation-name: logo;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -o-animation-duration: 10s;
  -ms-animation-duration: 10s;
  animation-duration: 10s;
}

@keyframes logo {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.1) rotate(0deg);
    -moz-transform: scale(0.1) rotate(0deg);
    -o-transform: scale(0.1) rotate(0deg);
    -ms-transform: scale(0.1) rotate(0deg);
    transform: scale(0.1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    
  }
}


